@media screen and (max-width: 380px){
    .tittle_logo h1{
        right: 8vw;
    }
    
    .shop_information {
        font-size: 1px;
    }
    .concept_title h2{
        font-size: 1.2rem;
    }
    .price_1{
        width: 88vw;
    }
    .price_2{
        width: 88vw;
    }

}