@media screen and (max-width: 736px){
    .pc-br{
        display: none;
    }
    .sp-br{
        display: block;
    }
    .main_pc{
        display: none;
    }
    .main_sp{
        width: 100%;
        height: auto;
        display: block;
    } 
    .menu{
        font-size: 1.0rem;
        margin: 0 2vw;
    }
    .menu span{
        font-size: 1.5rem;
    }
    .tittle_logo h1 {
        width: 100%;
        text-align: center;
        display: block;
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        margin: 0;
        font-size: 2.5rem;
        font-family: -webkit-pictograph;
    }
    .tittle_logo p {
        display: block;
        position: absolute;
        top: 25%;
        right: 0;
        color: white;
        left: 0;
        text-align: center;
        font-size: 1.5rem;
    }
    .concept_container{  
        display: block;
    }
    .concept_title{
        margin: 0;
    }
    .concept_title h3{
        font-size: 2.3rem;
    }
    .text{
        margin: 0 10vw;
        text-align: left;
        font-size: 1.4rem;
    }
    .room1{
        width: 70%;
        display: block;
        margin: 0 auto;
        height: auto;        
    }
    .room2{
        width: 70%;
        display: block;
        margin: 0 auto;
        height: auto;        
    }
    .room3{
        width: 70%;
        display: block;
        margin: 0 auto;
        height: auto;        
    }
    .room_1{
        width: 100%;
        text-align: center;
    }
    .room_2{
        width: 100%;
        margin: 10vw 0;
        text-align: center;
    }
    .room_3{
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .room_1 p{
        position: static;
        font-size: 1rem;
        writing-mode: horizontal-tb;
        margin: 0;
   }
    .room_2 p{
       font-size: 1rem;
       text-align: center;
   }
   .room_3 p{
    font-size: 1rem;
    text-align: center;
   }
   .room_1 h3{
    font-size: 1.5rem;
    position: static;
    margin: 0;
   }
   .room_2 h3{
    right: -50vw;
    font-size: 1.5rem;
    text-align: center;
   }
   .room_3 h3{
    right: -50vw;
    font-size: 1.5rem;
    text-align: center;
   }
   .nail_pc{
       display: block;
   }
   .nail_pc1,.nail_pc2,.nail_pc3{
    width: 75%;
    margin: 0 auto;
    padding: 10vw;
    }
    .price_list{
        display: block;
    }
    .shop_container{
        display: block;
    }
    .map{
        width: 100%;
    }
    .googlemap iframe{
        width:100%;
    }

    .shop_information{
        font-size: 1.2rem;
    }
    .yomogi_contents{
        display: block;
        text-align: center;
    }
    .yomogi_pic{
        width: 100%;
    }
   .yomogi_concept{
       display: block;
   }
   .yomogi_text h4{
       text-align: left;
       font-size: 1.8rem;
       margin: 5vw 0;
   }
   .yomogi_text p{
       text-align: left;
       font-size: 1.3rem;
   }
   .yomogi_price{
       display: block;
   }
   .moringa_pic{
       margin: 5vw 0;
   }
   .moringa_text p {
    font-size: 1.3rem;
    text-align: left;
    margin-bottom: 5vw;
   }
   .moringa_text h4 {
       text-align: left;
       font-size: 1.8rem;
       margin: 5vw 0;
   }
   .price_1{
    margin: 0 auto;
    margin-bottom: 10vw;
   }
   .price_2{
    margin: 0 auto;
    margin-bottom: 10vw;
   }
  
   .price{
       margin: 0 5vw;
   }
   .price_container{
       padding: 5vw;
   }
   .price_concept{
       padding: 0;
       font-size: 1.4rem;
       text-align: left;
       margin-bottom: 10vw;
       
   }
   .cocept_txst{
    text-align: left;
    margin-top: 5vw;
    font-size: 1.2rem;
   }
   .price_list p{
       padding-bottom: 5vw;
       font-size: 1rem;
   }
   .price_list h4{
       margin: 2vw 0;
   }
   .btn--orange, a.btn--orange {
       font-size: 1.2rem;
   }
   .yomogi{
       margin: 0 10vw;
   }
   .yomogi_catch{
    margin: 13vw 0;
    font-size: 1.3rem;
   }
   table{
    width: 90%;
    margin: 0 auto;
   } 
   .insta{
       position: fixed;
       bottom: 6%;
       left: 0;
       right: 0;
   }
   footer p{
       margin: 15vw 0; 
   } 
}
