@media screen and (max-width: 736px){
    .pc-br{
        display: none;
    }
    .sp-br{
        display: block;
    }
    .tittle_logo img{
        width: 100%;
    }
    .concept_container{  
        display: block;
    }
    .room{
        display: block;
        text-align: center;
        height: auto;
    }
    .room1{
        margin: 10px 0;
    }
    .room2{
        margin: 10px 0;
    }
    .room3{
        margin: 10px 0;
    }
    .price_list{
        display: block;
    }
    .shop_container{
        display: block;
    }
    .map{
        width: 100%;
    }
    .googlemap iframe{
        width:100%;
    }
    .instagram_pic{
        display: none;
    }
}
