@media screen and (max-width: 380px){
    .tittle_logo h1{
        right: 8vw;
    }
    .room_1 h4{
        top: 16vw;
    }
    .room_3{
        position: absolute;
        top: 202%;
    }
    .yomogi_consept p {
        font-size: 8px;
    }
    .moringa_text p{
        font-size: 10px;
        right: 3vw;
    }
    .moringa_pic{
        right: 5%;
    }
    .moringa h3{
        right: 6vw;
    }
    .shop_information {
        font-size: 1rem;
    }

}