@media screen and (max-width: 380px){
    .tittle_logo h1{
        right: 8vw;
    }
    .room_1 h4{
        top: 5vw;
    }
    .room_1 h3{
        left: 48vw;
    }
    .room_1 p{
        left: 38vw;
    }
    .room_2 h3{
        right: 48vw;
    }
    .room_3{
        position: absolute;
        top: 198%;
    }
    .shop_information {
        font-size: 1px;
    }
    .concept_title h2{
        font-size: 1.2rem;
    }

}