@media screen and (max-width: 736px){
    .pc-br{
        display: none;
    }
    .sp-br{
        display: block;
    }
    .main_pc{
        display: none;
    }
    .main_sp{
        width: 100%;
        height: auto;
        display: block;
    }
    .tittle_logo h1 {
        position: absolute;
        top: 137px;
        right: 50px;
        color: white;
        font-family: -webkit-pictograph;
    }
    .tittle_logo p {
        position: absolute;
        top: 200px;
        right: 130px;
        color: white;
    }
    .concept_container{  
        display: block;
    }
    .room{
        display: block;
        text-align: center;
        height: auto;
    }
    .room1{
        display: block;
        margin: 20px auto;
    }
    .room2{
        display: block;
        margin: 20px auto;
    }
    .room3{
        display: block;
        margin: 20px auto;
    }
    .price_list{
        display: block;
    }
    .shop_container{
        display: block;
    }
    .map{
        width: 100%;
    }
    .googlemap iframe{
        width:100%;
    }
    .instagram_pic{
        display: none;
    }
}
