body{
    width: 100%;
    height: auto;
    margin: 0　auto;
    font-family: serif;
}
.tittle_logo{    
    width: 100%;
    margin: 0 auto;
    
}
.tittle_logo img{
    display: block;
    max-width: 1200px;
    margin: 0 auto;  
}
.concept{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}
.concept_container{  
    display: flex;
}
.concept_title{
    text-align: center;
    display: block;
    margin: 0 auto;
}

.concept_title h2{
    display: block;
    margin: 0 auto;
}
.concept_title h3{
    margin-top: 0;
}
.room{
    display: flex;
    justify-content: center;
    
}
.room img{
    width: 25%;
    height: 235px;
    padding: 30px;

}
.profile{
    display: block;
    text-align: center;
    margin: 0 auto;
}
.profile h4{
    display: block;
    margin: 0 auto;
    font-size: 13px;

}
.profile h5{
    display: block;
    margin: 0 auto;
    font-size: 20px;
}
.price{
    max-width: 1200px;
    margin: 0 auto;
}
.nail_pc{
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
}
.price_list{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    text-align: center;
}
.menu{
    border-bottom: 1px solid #8d8b8b;
}
.price_container{
    background-color: #F6F6F6;
    padding-bottom: 40px;
}
.menu span{
    font-size: 20px;
    padding: 0 10px;
}
.price_concept{
    text-align: center;
    padding: 30px 0;
    margin-top: 30px;
}
.cocept_txst{
    font-size: 8px;
}
.price_list span{
    font-size: 9px;
    margin: 0 10px;
}
.price_list h3{
    margin: 0;
}
.price_list h5{
    margin: 0;
    font-size: 6px;
}
.price_list p{
    font-size: 8px;
}
.simple{
    flex: 1;
    padding: 20px;
}
.sample{
    flex: 1;
    padding: 20px;
}
.puratina{
    flex: 1;
    padding: 20px;
}
.contact{
    text-align: center;
    padding: 20px;
}
.contact a{
    text-decoration: none;
}
.btn--orange,
a.btn--orange {
  color: #fff;
  background-color:rgba(44, 44, 44, 0.63);
  border-radius: 3px;
  padding: 8px 35px;  
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #919090;
}
.shop_map{
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
}
.shop_title{
    border-bottom: 1px solid #8d8b8b;
}
.shop_informaition{
    float: left;
}
.shop_title span{
    font-size: 20px;
    padding: 0 10px;
}
.map{
    float: right;
    
}
.shop_informaition tr,th,td{
    border: 1px solid #999;
    padding: 10px;    
}
table{
    display: inline-block;
    text-align: left;
}
.shop_container{
    margin: 0;
}
.sns{
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
}
.sns_title{
    border-bottom: 1px solid #8d8b8b;
    
}
.sns_title span{
    font-size: 20px;
    padding: 0 10px;
}
.instagram{
    text-align: center;
    
}
.instagram-media{
    display: inline;
}
.insta_btn2{/*ボタンの下地*/
    color: #FFF;/*文字・アイコン色*/
    border-radius: 7px;/*角丸に*/
    position: relative;
    display: inline-block;
    height: 50px;/*高さ*/
    width: 250px;/*幅*/
    text-align: center;/*中身を中央寄せ*/
    font-size: 24px;/*文字のサイズ*/
    line-height: 50px;/*高さと合わせる*/
    background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
    overflow: hidden;/*はみ出た部分を隠す*/
    text-decoration:none;/*下線は消す*/
    
  }
  
  .insta_btn2:before{/*グラデーション②*/
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;/*全体を覆う*/
    height: 100%;/*全体を覆う*/
    background: -webkit-linear-gradient(15deg, #ffdb2c, rgb(249, 118, 76) 25%, rgba(255, 77, 64, 0) 50%) no-repeat;
    background: linear-gradient(15deg, #ffdb2c, rgb(249, 118, 76) 25%, rgba(255, 77, 64, 0) 50%) no-repeat;
  }
  
  .insta_btn2 .fa-instagram{/*アイコン*/
    font-size: 35px;/*アイコンサイズ*/
    position: relative;
    top: 4px;/*アイコン位置の微調整*/
  }
  
  .insta_btn2 span {/*テキスト*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:inline-block;
    position: relative;
    transition: .5s
  }
  
  .insta_btn2:hover span{/*ホバーで一周回転*/
    -webkit-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
  .instagram_pic{
      display: flex;
      justify-content: space-between;
      margin: 30px;
      padding-bottom: 50px;
  }
  footer{
    text-align: center;
}
.copyright{
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    border-top: 1px solid #8d8b8b;
}
footer p{
    font-family: sans-serif;
}