body{
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-family: serif;
    color: #777676;
    background-color: #EDEDEA;
    box-sizing : border-box ;
}
.sp-br{
    display: none;
}
.tittle_logo{    
    max-width: 100%;
    margin: 0 auto;    
}
.main_sp{
    display: none;
}
.tittle_logo h1{
 display: none;
}
.tittle_logo p{
    display: none;
}
.main_pc{
    display: block;
    width: 100%;
    margin: 0 auto;  
}
.tittle_logo h1{
    position: absolute;
    top: 104px;
    right: 201px;
    color: white;
    font-family: -webkit-pictograph;
}
.tittle_logo p{
    position: absolute;
    top: 170px;
    right: 278px;
    color: white;
}
.concept{
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 0;
}
.concept_container{  
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
}
.concept_title{
    flex: 3;
    width: 100%;
    text-align: center;
    display: block;
    margin: 65px;
}

.concept_title h2{
    display: block;
    margin: 0 auto;
}
.concept_title h3{
    margin-top: 0;
}
.room{
    max-width: 1300px;
    margin: 0 auto;
}
.room1{
    width: 100%;
    height: auto;
}
.room_1{
    width: 45%;
    position: relative;
}
.room_1 p{
    writing-mode: vertical-lr;
    position: absolute;
    left: 98%;
    font-size: 20px;
}
.room_1 h3{
    font-size: 20px;
    position: absolute;
    left: 107%;
    border-bottom: #777676 solid 1px;

}
.room_1 h4{
    position: absolute;
    right: -59%;
    top: 3%;
}
.room_2{
    position: relative;
    top: -250px;
    left: 40%;
    width: 60%;
}
.room2{
    width: 100%;
}
.room_2 h3{
    font-size: 20px;
    position: absolute;
    right: 33%;
    top: 97%;
    border-bottom: #777676 solid 1px;
}
.room_2 p{
    position: absolute;
    top: 96%;
    right: 0%;
    font-size: 20px;
}
.room_2 h4{
    position: absolute;
    right: 0%;
    top: 102%;
}
.room_3{
    width: 30%;
    height: auto;
    position: absolute;
    top: 222%;
}
.room3{
    width: 100%;
}
.room_3 h3{
    font-size: 20px;
    position: absolute;
    right: -12%;
    top: 77%;
    border-bottom: #777676 solid 1px;
}
.room_3 p{
    writing-mode: vertical-lr;
    position: absolute;
    top: 53%;
    right: -15%;
    font-size: 20px;
}
.room_3 h4{
    position: absolute;
    right: -65%;
    top: 90%;;
}
.profile{
    flex: 1;
    display: block;
    text-align: center;
    margin: 65px auto;
}
.profile h4{
    display: block;
    margin: 0 auto;
    font-size: 13px;

}
.profile h5{
    display: block;
    margin: 0 auto;
    font-size: 20px;
}
.price{
    max-width: 100%;
    margin: 0 auto;
}
.nail_pc{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    padding: 25px 0;
}
.price_list{
    margin: 0 auto;
    display: flex;
    text-align: center;
}
.menu{
    max-width: 1300px;
    margin: 0 auto;
    border-bottom: 1px solid #8d8b8b;
}
.price_container{
    background-color: #F6F6F6;
    padding-bottom: 40px;
    max-width: 1300px;
    margin: 0 auto;
}
.menu span{
    font-size: 20px;
    padding: 0 10px;
}
.price_concept{
    text-align: center;
    padding: 30px 0;
    margin-top: 30px;
}
.cocept_txst{
    font-size: 15px;
}
.price_list span{
    font-size: 9px;
    margin: 0 10px;
}
.price_list h3{
    margin: 0;
}
.price_list h4{
    font-size: 16px;
}
.price_list h5{
    margin: 0;
    font-size: 13px;
}
.price_list p{
    font-size: 13px;
}
.simple{
    flex: 1;
    padding: 20px;
}
.sample{
    flex: 1;
    padding: 20px;
}
.puratina{
    flex: 1;
    padding: 20px;
}
.contact{
    text-align: center;
    padding: 20px;
}
.contact a{
    text-decoration: none;
}
.btn--orange,
a.btn--orange {
  color: #fff;
  background-color:rgba(44, 44, 44, 0.63);
  border-radius: 3px;
  padding: 8px 35px;  
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #919090;
}
.yomogi_menu{
    max-width: 1300px;
    margin: 0 auto;
    border-bottom: 1px solid #8d8b8b;
}
.yomogi_menu span{
    font-size: 20px;
    padding: 0 10px;

}
.yomogi{
    max-width: 1300px;
    margin: 0 auto;
    height: auto;
}
.yomogi_contents{
    display: flex;
    margin-top: 30px;
}
.yomogi_pic{
    flex: 1;
    width: 50%;
}
.yomogi_text{
    flex: 1;
    text-align: center;
}
.yomogi_text p{
    font-size: 13px; 
    text-align: left;   
}
.yomogi_text h2{
    text-align: left;
    margin: 0;
    font-size: 18px;
}
.yomogi_consept{
    position: relative;
}
.yomogi_consept h3{
    position: absolute;
    writing-mode: vertical-lr;
    right: 57%;
    top: 0%;
    border-left: solid 1px;
}
.yomogi_consept p{
    position: absolute;
    right: 9%;
    top: 14%;
    background-color: whitesmoke;
    padding: 5px;
    font-size: 15px;
    text-align: center;
}

.moringa{
    position: relative;
}
.moringa h3{
    position: absolute;
    right: 0%;
    top: 70%;
    border-bottom: solid 1px;

}
.moringa_text{
    margin: 10px 0;
}
.moringa_pic{
    width: 30%;
    position: absolute;
    right: 0%;
}
.yomogi_pic2{
    width: 34%;
    position: relative;
    right: 33%;
}
.shop_map{
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}
.shop_title{
    max-width: 1300px;
    margin: 0 auto;
    border-bottom: 1px solid #8d8b8b;
}
.shop_information{
    flex: 1;
    width: 100%;
}
.shop_title span{
    font-size: 20px;
    padding: 0 10px;
}
.map{
    width: 100%;
   flex: 1;
}
.googlemap{    
    width:100%;    
    text-align: center;    
}

.shop_informaition tr,th,td{
    border: 1px solid #999;
    padding: 10px;    
}
table{
    text-align: left;
    width: 100%;
    position: relative;
    top: 0;
}
.shop_container{
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
}

.instagram-media{
    display: inline;
}
.insta_btn2{/*ボタンの下地*/
    color: #FFF;/*文字・アイコン色*/
    border-radius: 7px;/*角丸に*/
    position: relative;
    display: inline-block;
    height: 50px;/*高さ*/
    width: 200px;/*幅*/
    text-align: center;/*中身を中央寄せ*/
    font-size: 24px;/*文字のサイズ*/
    line-height: 50px;/*高さと合わせる*/
    background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
    overflow: hidden;/*はみ出た部分を隠す*/
    text-decoration:none;/*下線は消す*/
    
  }
  
  .insta_btn2:before{/*グラデーション②*/
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;/*全体を覆う*/
    height: 100%;/*全体を覆う*/
    background: -webkit-linear-gradient(15deg, #ffdb2c, rgb(249, 118, 76) 25%, rgba(255, 77, 64, 0) 50%) no-repeat;
    background: linear-gradient(15deg, #ffdb2c, rgb(249, 118, 76) 25%, rgba(255, 77, 64, 0) 50%) no-repeat;
  }
  
  .insta_btn2 .fa-instagram{/*アイコン*/
    font-size: 35px;/*アイコンサイズ*/
    position: relative;
    top: 4px;/*アイコン位置の微調整*/
  }
  
  .insta_btn2 span {/*テキスト*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:inline-block;
    position: relative;
    transition: .5s
  }
  
  .insta_btn2:hover span{/*ホバーで一周回転*/
    -webkit-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }

  footer{
    text-align: center;
}
.copyright{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-top: 1px solid #8d8b8b;
}
footer p{
    font-family: sans-serif;
}