body{
    width: 100%;
    margin: 0　auto;
    font-family: serif;
}
.tittle_logo{    
    width: 100%;
    margin: 0 auto;
    
}
.tittle_logo img{
    display: block;
    max-width: 1200px;
    margin: 0 auto;  
}
.concept{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}
.concept_container{  
    display: flex;
}
.concept_title{
    text-align: center;
    display: block;
    margin: 0 auto;
}

.concept_title h2{
    display: block;
    margin: 0 auto;
}
.concept_title h3{
    margin-top: 0;
}
.room{
    display: flex;
    justify-content: center;
    
}
.room img{
    width: 25%;
    height: 235px;
    padding: 30px;

}
.profile{
    display: block;
    text-align: center;
    margin: 0 auto;
}
.profile h4{
    display: block;
    margin: 0 auto;
    font-size: 13px;

}
.profile h5{
    display: block;
    margin: 0 auto;
    font-size: 20px;
}